*.pyc

__pycache__
*.so*
*checkpoint.ipynb
*.png

swpcom.mod

build/*
dist/*

/docs/
litho1pt0.html

*.egg
/litho1pt0.egg-info/

src/_*module.c
src/_*wrappers.f

.local
.ipython

# Add this when building docker image or download it
*ETOPO1_Ice_c_geotiff.tif

litho1pt0.egg-info/*
litho1pt0/Notebooks/litho1pt0/Data/ETOPO1_Ice_g_geotiff.tif
litho1pt0/Notebooks/litho1pt0/Data/ETOPO1_Ice_g_geotiff.tif.zip
